<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".demos.sample.SampleActivity"
            android:exported="false" />
        <activity
            android:name=".demos.infinite_list.InfiniteTabActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".demos.behavior.BehaviorTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".demos.blur_image.BlurImageActivity"
            android:exported="false" />
        <activity
            android:name=".demos.dragtreelist.DragTreeListActivity"
            android:exported="false" />
        <activity
            android:name=".demos.rating_bar.CusRatingBarDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demos.dag_task.DagTaskExecActivity"
            android:exported="false" />
        <activity
            android:name=".demos.memdetector.MemDetectorActivity"
            android:exported="false" />
        <activity
            android:name=".demos.dcalendar.DCalendarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name=".demos.expandable_tag.ExpandableFlowActivity"
            android:exported="false" />
    </application>

</manifest>